/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

/* tiny reset */

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color:#f8f8f8;
  height:101%;
}

html, body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul { list-style-type:none; padding:0; margin:0px; }

a {
  text-decoration:none;
}

img {
  border: none;
}

body > * {
  max-width:768px; /* width of provided bg */
  min-width:300px;
  margin-left:auto;
  margin-right:auto;
  box-sizing: border-box;
}

/* application core styles */

/* base-color: #7ad6bb; */

.header {
  padding-top:189px;
  background-color:#e5b897;
  background-image:url(../images/headerbg.jpg);
  background-position:top center;
  background-repeat:no-repeat;
}

.header__nav {
  position:relative;
  background-color:#7ad6bb;
  padding-left:150px;
  padding-right:34px;
  line-height:51px;
}

.header__logo {
  position: absolute;
  left: 34px;
  top: -57px;
  width: 119px;
  height: 119px;
  border-radius: 50%;
  border: solid 5px #000;
  background-color: rgb(255,255,255);
  border-color: rgba(255, 255, 255, .8);
  background-clip: padding-box;
}

.links {
  text-align:right;
  margin:0px;
}
.links > * {
  display:inline-block;
  color: #2b221d;
  margin-left:5px;
  line-height:30px;
}

.links__link {
  color: #ffffff;
  display:inline-block;
  width:30px;
  height:30px;
  border-style:solid;
  border-color:#7ad6bb;
  border-radius: 50%;
  border-width:1px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}
.links__link:hover {
  border-color:white;

}
.links--active {}

.app {
  min-height:200px;
  padding:0.1px;
  background-color:#ffffff;
  color:#333333;
}

.app {
}

.richtext {
}
.richtext > * {
  margin: 34px;
}

.listview {
  text-align:center;
  margin:16px;
}
.listview > * {
  display:inline-block;
  vertical-align: top;
  margin:8px;
  border:10px solid #f8f8f8;
}
.listview:after {
  clear:both;
}

.app blockquote {
  margin-left:64px;
  border-width:0px 0px 0px 4px;
  border-color:#7ad6bb;
  border-style:solid;
  padding-left:34px;
  color:#999999;
  font-style:italic;
}

.footer {
  background-color:#7ad6bb;
  padding-left:34px;
  padding-right:34px;
  color: #ffffff;
}
.footer__author {
  line-height:40px;
  color: white;
}

#app:empty {
  padding:34px;
  text-align:center;
}

#app:empty:after {
  content:"... initializing";
  color:#d0d0d0;
}
