<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kgrajekTestApp</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,400,300,500&amp;subset=latin,latin-ext" type="text/css" media="all" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" media="all" />

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#7ad6bb">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#7ad6bb">

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <header class="header">
      <nav class="header__nav">
        <img src="../images/themarilyn.png" class="header__logo"/>
        <ul class="links">
          <li><a href="/" class="links__link links--active fa fa-user"></a></li>
          <li><a href="/gallery" class="links__link fa fa-picture-o"></a></li>
        </ul>
      </nav>
    </header>

    <section id="app" class="app"></section>

    <footer class="footer">
      <a href="/hello/insys" class="footer__author">by kgrajek</a>
    </footer>

    <!--templates-->
    <script type="text/template" id="staticPageTmpl">
      <section>
        <h2><%= title %></h2>
        <span class="fa fa-map-marker"></span> <span><%= subtitle %></span>
      </section>
      <%= content %>
    </script>

    <!-- build:js scripts/main.min.js -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/underscore-min.js"></script>
    <script src="scripts/backbone-min.js"></script>
    <script src="scripts/flickrapi.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
